.venv/

*.o

edited-pthread
pthread
pthread2
pthread3
pthread4

edited-sumnums
edited-openmp-sumnums
sumnums

exercise2-documentation_files/
exercise2-documentation.html

eratos
eratosomp
primescale

cards_3x4_pgm/
tmp/

dirlist
matrotate